body{
    width: 1000px;
}
.fa-solid{
    font-size: 35px;
}
.top{
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
   }
.box{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.bottom{
    display: inline-block;
    background:saddlebrown;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
}
h4{
    color:saddlebrown;
}

