@media screen and (min-width: 0) and (max-width: 1000px){
    .wrap{
        flex-direction: column;
    }
    .block{
        width: 100%;

    }
    .h{
        width: 100%;
        height: 500px;
        margin-top: 5px;
    }

}