body{
   margin: 0px;
   }
.wrap{
    margin: 0;
    width: 100%;
    color: black;
    font-size: medium;
    flex-wrap: wrap;

}
.divWrap{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;

}
.comments{
    background: grey;
    color: white;
    border: 1px solid black;

}
.btn{
    width: 100px;
    border-radius: 10%;
    margin: 10px;

}

h4{
    font-size: 20px;
   font-family:"Cambria Math"
}