.body{
    margin: 0;
}
header{
    width: 505px;
    height: 50px;
    background:gainsboro;
}
.main{
    width: 505px;
    height: 510px;
    display: flex;
    position: relative;
    margin-top: 5px;

}
.card1{
    width: 200px;
    height: 200px;
    background:silver;
    position: relative;
    margin-right: 5px;



}
.card2{
    width: 300px;
    height: 300px;
    background:grey;
    position:relative;

}
.card3{
    width: 200px;
    height: 300px;
    background:darkslategray;
    margin-top: 5px;
    position: absolute;
    top: 200px;

}
.card4{
    width: 300px;
    height: 200px;
    background:darkgrey;
    margin-top: 5px;
    position: absolute;
    top: 300px;
    right: 0;
}
.last{
    display: flex;
}
.first{
    width: 305px;
    height: 100px;
    background: dimgray;
}
.second{
    width: 195px;
    height: 100px;
    background:lightgray;
    margin-left: 5px;
    }
footer{
    margin-top: 5px;
    width: 505px;
    height: 50px;
    background:gray;
}